USE [master]
GO
/****** Object:  Database [QLQTS]    Script Date: 12/1/2022 09:46:30 PM ******/
CREATE DATABASE [QLQTS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLQTS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QLQTS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLQTS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QLQTS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLQTS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLQTS]
GO
/****** Object:  Table [dbo].[COMBO]    Script Date: 12/1/2022 09:46:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMBO](
	[IdCombo] [uniqueidentifier] NOT NULL,
	[MaCombo] [nvarchar](20) NOT NULL,
	[TenCombo] [nvarchar](60) NOT NULL,
	[GiaCombo] [decimal](20, 0) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[NgayTao] [date] NOT NULL,
	[GhiChu] [nvarchar](100) NOT NULL,
	[TrangThai] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCombo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MaCombo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMBO_SANPHAM]    Script Date: 12/1/2022 09:46:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMBO_SANPHAM](
	[IdComboSP] [uniqueidentifier] NOT NULL,
	[IdSanPham] [uniqueidentifier] NULL,
	[IdCombo] [uniqueidentifier] NULL,
	[TrangThai] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdComboSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAOCA]    Script Date: 12/1/2022 09:46:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAOCA](
	[IdGiaoCa] [uniqueidentifier] NOT NULL,
	[MaCa] [varchar](20) NOT NULL,
	[ThoiDiemBatDau] [date] NOT NULL,
	[ThoiDiemKetThuc] [date] NULL,
	[SoTienBanDau] [decimal](20, 0) NOT NULL,
	[TienDoanhThu] [decimal](20, 0) NULL,
	[TienPhatSinh] [decimal](20, 0) NULL,
	[TienHienCo] [decimal](20, 0) NULL,
	[GhiChu] [varchar](50) NULL,
	[IdNhanVien] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdGiaoCa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HDCT_TOPPING]    Script Date: 12/1/2022 09:46:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HDCT_TOPPING](
	[Id] [uniqueidentifier] NOT NULL,
	[IdHoaDonCT] [uniqueidentifier] NULL,
	[IdTopping] [uniqueidentifier] NULL,
	[TrangThai] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 12/1/2022 09:46:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[IdHoaDon] [uniqueidentifier] NOT NULL,
	[MaHD] [nvarchar](20) NOT NULL,
	[NgayTao] [date] NOT NULL,
	[TongTien] [decimal](20, 0) NULL,
	[TienApDungKM] [decimal](20, 0) NULL,
	[TienKHThanhToan] [decimal](20, 0)NULL,
	[NgayThanhToan] [date] NULL,
	[GhiChu] [varchar](200) NULL,
	[TrangThai] [int] NOT NULL,
	[IdNhanVien] [uniqueidentifier] NOT NULL,
	[IdKhachHang] [uniqueidentifier] NULL,
	[IdKM] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADONCHITIET]    Script Date: 12/1/2022 09:46:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONCHITIET](
	[IdHoaDonCT] [uniqueidentifier] NOT NULL,
	[DonGia] [decimal](20, 0) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[id] [uniqueidentifier] NOT NULL,
	[TrangThai] [varchar](50) NOT NULL,
	[IdHoaDon] [uniqueidentifier] NOT NULL,
	[IdSanPham] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdHoaDonCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 12/1/2022 09:46:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[IdKhachHang] [uniqueidentifier] NOT NULL,
	[MaKH] [nvarchar](20) NOT NULL,
	[HoTenKH] [nvarchar](50) NOT NULL,
	[GioiTinh] [bit] NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[SoDT] [nvarchar](10) NOT NULL,
	[DiaChi] [nvarchar](100) NOT NULL,
	[GhiChu] [nvarchar](100) NOT NULL,
	[TrangThai] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHUYENMAI]    Script Date: 12/1/2022 09:46:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUYENMAI](
	[IdKM] [uniqueidentifier] NOT NULL,
	[MaKM] [nvarchar](20) NOT NULL,
	[TenKM] [nvarchar](50) NOT NULL,
	[NgayBatDau] [date] NOT NULL,
	[NgayKetThuc] [date] NOT NULL,
	[HinhThucKM] [nvarchar](30) NOT NULL,
	[GiaTri] [int] NOT NULL,
	[TrangThai] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MaKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAISP]    Script Date: 12/1/2022 09:46:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISP](
	[IdLoaiSP] [uniqueidentifier] NOT NULL,
	[MaLoaiSP] [nvarchar](20) NOT NULL,
	[TenLoaiSP] [nvarchar](50) NOT NULL,
	[TrangThai] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdLoaiSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MaLoaiSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 12/1/2022 09:46:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[IdNhanVien] [uniqueidentifier] NOT NULL,
	[MaNV] [nvarchar](20) NOT NULL,
	[HoTenNV] [nvarchar](50) NOT NULL,
	[SoDT] [nvarchar](10) NOT NULL,
	[GioiTinh] [nvarchar](10) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[Email] [nvarchar](30) NOT NULL,
	[DiaChi] [nvarchar](100) NOT NULL,
	[ChucVu] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](20) NOT NULL,
	[TrangThai] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 12/1/2022 09:46:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[IdSanPham] [uniqueidentifier] NOT NULL,
	[IdLoaiSP] [uniqueidentifier] NOT NULL,
	[IdSize] [uniqueidentifier] NOT NULL,
	[MaSP] [nvarchar](20) NOT NULL,
	[TenSP] [nvarchar](100) NOT NULL,
	[DonGia] [decimal](20, 0) NOT NULL,
	[HinhAnh] [nvarchar](50) NOT NULL,
	[MoTa] [nvarchar](100) NOT NULL,
	[TrangThai] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIZE]    Script Date: 12/1/2022 09:46:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIZE](
	[IdSize] [uniqueidentifier] NOT NULL,
	[MaSize] [nvarchar](20) NOT NULL,
	[TenSize] [nvarchar](50) NOT NULL,
	[Gia] [decimal](20, 0) NOT NULL,
	[TrangThai] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSize] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MaSize] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TOPPING]    Script Date: 12/1/2022 09:46:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOPPING](
	[IdTopping] [uniqueidentifier] NOT NULL,
	[MaTopping] [nvarchar](20) NOT NULL,
	[TenTopping] [nvarchar](50) NOT NULL,
	[Gia] [decimal](20, 0) NOT NULL,
	[TrangThai] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTopping] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MaTopping] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[COMBO] ADD  DEFAULT (newid()) FOR [IdCombo]
GO
ALTER TABLE [dbo].[COMBO_SANPHAM] ADD  DEFAULT (newid()) FOR [IdComboSP]
GO
ALTER TABLE [dbo].[GIAOCA] ADD  DEFAULT (newid()) FOR [IdGiaoCa]
GO
ALTER TABLE [dbo].[HDCT_TOPPING] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT (newid()) FOR [IdHoaDon]
GO
ALTER TABLE [dbo].[HOADONCHITIET] ADD  DEFAULT (newid()) FOR [IdHoaDonCT]
GO
ALTER TABLE [dbo].[KHACHHANG] ADD  DEFAULT (newid()) FOR [IdKhachHang]
GO
ALTER TABLE [dbo].[KHUYENMAI] ADD  DEFAULT (newid()) FOR [IdKM]
GO
ALTER TABLE [dbo].[LOAISP] ADD  DEFAULT (newid()) FOR [IdLoaiSP]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  DEFAULT (newid()) FOR [IdNhanVien]
GO
ALTER TABLE [dbo].[SANPHAM] ADD  DEFAULT (newid()) FOR [IdSanPham]
GO
ALTER TABLE [dbo].[SIZE] ADD  DEFAULT (newid()) FOR [IdSize]
GO
ALTER TABLE [dbo].[TOPPING] ADD  DEFAULT (newid()) FOR [IdTopping]
GO
ALTER TABLE [dbo].[COMBO_SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_COMBO_SANPHAM_COMBO] FOREIGN KEY([IdCombo])
REFERENCES [dbo].[COMBO] ([IdCombo])
GO
ALTER TABLE [dbo].[COMBO_SANPHAM] CHECK CONSTRAINT [FK_COMBO_SANPHAM_COMBO]
GO
ALTER TABLE [dbo].[COMBO_SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_COMBO_SANPHAM_SANPHAM] FOREIGN KEY([IdSanPham])
REFERENCES [dbo].[SANPHAM] ([IdSanPham])
GO
ALTER TABLE [dbo].[COMBO_SANPHAM] CHECK CONSTRAINT [FK_COMBO_SANPHAM_SANPHAM]
GO
ALTER TABLE [dbo].[GIAOCA]  WITH CHECK ADD  CONSTRAINT [FK_GIAOCA_NHANVIEN] FOREIGN KEY([IdNhanVien])
REFERENCES [dbo].[NHANVIEN] ([IdNhanVien])
GO
ALTER TABLE [dbo].[GIAOCA] CHECK CONSTRAINT [FK_GIAOCA_NHANVIEN]
GO
ALTER TABLE [dbo].[HDCT_TOPPING]  WITH CHECK ADD  CONSTRAINT [FK_HDCT_TOPPING_TOPPING] FOREIGN KEY([IdTopping])
REFERENCES [dbo].[TOPPING] ([IdTopping])
GO
ALTER TABLE [dbo].[HDCT_TOPPING] CHECK CONSTRAINT [FK_HDCT_TOPPING_TOPPING]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG] FOREIGN KEY([IdKhachHang])
REFERENCES [dbo].[KHACHHANG] ([IdKhachHang])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHUYENMAI] FOREIGN KEY([IdKM])
REFERENCES [dbo].[KHUYENMAI] ([IdKM])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHUYENMAI]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([IdNhanVien])
REFERENCES [dbo].[NHANVIEN] ([IdNhanVien])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO
ALTER TABLE [dbo].[HOADONCHITIET]  WITH CHECK ADD  CONSTRAINT [FK_HOADONCHITIET_HDCT_TOPPING] FOREIGN KEY([id])
REFERENCES [dbo].[HDCT_TOPPING] ([Id])
GO
ALTER TABLE [dbo].[HOADONCHITIET] CHECK CONSTRAINT [FK_HOADONCHITIET_HDCT_TOPPING]
GO
ALTER TABLE [dbo].[HOADONCHITIET]  WITH CHECK ADD  CONSTRAINT [FK_HOADONCHITIET_HOADON] FOREIGN KEY([IdHoaDon])
REFERENCES [dbo].[HOADON] ([IdHoaDon])
GO
ALTER TABLE [dbo].[HOADONCHITIET] CHECK CONSTRAINT [FK_HOADONCHITIET_HOADON]
GO
ALTER TABLE [dbo].[HOADONCHITIET]  WITH CHECK ADD  CONSTRAINT [FK_HOADONCHITIET_SANPHAM] FOREIGN KEY([IdSanPham])
REFERENCES [dbo].[SANPHAM] ([IdSanPham])
GO
ALTER TABLE [dbo].[HOADONCHITIET] CHECK CONSTRAINT [FK_HOADONCHITIET_SANPHAM]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_LOAISP] FOREIGN KEY([IdLoaiSP])
REFERENCES [dbo].[LOAISP] ([IdLoaiSP])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_LOAISP]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_SIZE] FOREIGN KEY([IdSize])
REFERENCES [dbo].[SIZE] ([IdSize])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_SIZE]
GO
USE [master]
GO
